@import url(https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);

html {-webkit-font-smoothing: antialiased;}

body {
    font-family: Helvetica, Ariel, sans-serif;
    padding: 50px 400px 50px 400px;
    background-color: dimgrey;
}

ul {
    padding: 0;
    background-color: #ff3322;
    list-style-type: none;
    border-radius: 15px;
}


li {
    font-size: 3em;
    display: block;
    text-align: center;
    color: white;
    list-style-type: none;
    width: 100%;
}

li:first-child {
    font-weight: bold;
    padding-top: 4px;
    letter-spacing: 3px;
}

li:nth-child(2){
 font-size: 26px;
    padding-bottom: 6px;
}

li:last-child {
     background-color: white;
     color: black;
     font-size: 3em;
    border-bottom: #ff3322 solid 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;

}